.white {
  color: #fff;
}
.black {
  color: #000000;
}
.red {
  color: red;
}
.textCenter {
  text-align: center;
}
.fontwb {
  font-weight: bold;
}
.Link {
  text-decoration: none;
}
.dFlexWrap {
  display: flex;
  flex-wrap: wrap;
}
.justfyeven {
  justify-content: space-evenly;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
